body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fef7e4;
}

.user-icon {
    display: flex;
    align-items: center;
}

.user-icon img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffd700;
}

.sidebar {
    width: 200px;
    background-color: #ffffff;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 20px 0;
}

main {
    margin-left: 220px;
    padding: 20px;
}

.book-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.book img {
    max-width: 100%;
    height: auto;
}
